<!DOCTYPE html>
<html lang="en">
  <head>
    <title>In memory of Terry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Terry Davis (1969 – 2018)">
    <link rel="canonical" hreflang="en" href="https://terry.reflectslight.io/"/>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" sizes="128x128" href="/i/favicon-128x128.png">
    <link rel="icon" sizes="64x64" href="/i/favicon-64x64.png">
    <link rel="icon" sizes="32x32" href="/i/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="/i/favicon-16x16.png">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="In memory of Terry"/>
    <meta property="og:description" content="Terry Davis (1969 – 2018)"/>
    <meta property="og:url" content="https://terry.reflectslight.io/"/>
    <meta property="og:image" content="https://terry.reflectslight.io/i/TempleOS.png"/>
    <meta property="og:image:type" content="image/png"/>
  </head>
  <body>
    <div class="react-mount flex place-content-center h-full"></div>
    <script src="/js/index.js"></script>
  </body>
</html>
